<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- <link rel="stylesheet" href="./stylesheets/style.css" /> -->
        <link rel="stylesheet" href="./stylesheets/bootstrap.min.css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <title>Quize App</title>
        <!-- <link rel="stylesheet" href="./stylesheets/dashboard.css"/> -->
    </head>
    <body>
        <button type="btn btn-info"><a href="/"> Back </a></button>
        <center><h1>Welcome to Quieze App <%= title %></h1></center>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card col-md-5" style="width: 18rem;">
                        <div class="card-body">
                          <h1 class="card-title">Hacker Rank</h1>
                          <h6>Total Marks : 60</h6>
                          <h6>Total Questions : 6</h6>
                          <a href="/questions" class="btn btn-primary">Attemp</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card col-md-5" style="width: 18rem;">
                        <div class="card-body">
                          <h1 class="card-title">Hacker Rank</h1>
                          <h6>Total Marks : 60</h6>
                          <h6>Total Questions : 6</h6>
                          <a href="/questions" class="btn btn-primary">Attemp</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card col-md-5" style="width: 18rem;">
                        <div class="card-body">
                          <h1 class="card-title">Hacker Rank</h1>
                          <h6>Total Marks : 60</h6>
                          <h6>Total Questions : 6</h6>
                          <a href="/questions" class="btn btn-primary">Attemp</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card col-md-5" style="width: 18rem;">
                        <div class="card-body">
                          <h1 class="card-title">Hacker Rank</h1>
                          <h6>Total Marks : 60</h6>
                          <h6>Total Questions : 6</h6>
                          <a href="/questions" class="btn btn-primary">Attemp</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>