<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./stylesheets/style.css" />
        <title>new</title>
    </head>
    <body>
        <button><a href="/">Back</a></button>
        <h1>All <%= title %> is here</h1>
        <form action="/">
            <p>What is your name?</p>
            <input type="radio" id="azim" name="gender" value="azim">
            <label for="azim">Azim</label><br>
            <input type="radio" id="azim" name="gender" value="azim">
            <label for="azim">Azim</label><br>
            <input type="radio" id="mukesh" name="gender" value="mukesh">
            <label for="azim">Mukesh</label><br>
            <input type="radio" id="ramesh" name="gender" value="ramesh">
            <label for="azim">Ramesh</label>
          <br><br>
            <input type="submit" value="Submit">
          </form>
        
    </body>
</html>